extends layout

block content
  h1= title + ' (v0.02)'
  p(style={color: 'navy'}) Welcome to #{title}: Throne of Lies API. 
    span(style='font-weight:bold') Public Routes:
  ul#routes
    li
      a(href="./mailer/veteran") Verify Veteran Status
block signature