doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='./css/style.css', type='text/css')
    link(href='images/favicon-256.png', rel='icon')
    style
      include css/style.css
  body
    include headerLogo
    block content
    include signature